extends layout

block content
  h1 Roland Mechler's Home Page

  h3 Links:
  p
    a(href='https://mail.google.com', target='_blank') GMail
  p
    a(href='http://www.facebook.com', target='_blank') Facebook
  p
    a(href='http://www.canucks.com', target='_blank') Canucks
  p
    a(href='http://www.cypressmountain.com', target='_blank') Cypress Mountain
  p
    a(href='http://maps.google.ca', target='_blank') Google Maps
  p
    a(href='http://www.livevan.com', target='_blank') Live Mausic Vancouver
  p
    a(href='http://www.pollstar.com', target='_blank') Pollstar
  p
    a(href='http://www.rottentomatoes.com', target='_blank') Rotten Tomatoes
  p
    a(href='http://www.rbcroyalbank.com', target='_blank') Royal Bank
  p
    a(href='http://www.youtube.com', target='_blank') YouTube
  p
    a(href='http://vancouver.weatherpage.ca', target='_blank') Vancouver Weather Page
  p

  h3 Music Vids:
  p
    a(href='http://www.youtube.com/watch?v=41PxFzoqULU') Celtic Frost Circle of the Tyrants

  
