doctype 5
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        title#main= title
    body
        button#login(onclick="location.href='/pages/home'").
            LOG IN
    