extends layout

block content
  h1 Roland Mechler yo!
  p Skate Vids:
  p
    a(href='http://www.youtube.com/watch?v=ySp_RQg2Fm0') Raven Tershy Double Rock
  p
    a(href='http://www.youtube.com/watch?v=5j54Y_1tpgo') Raven Tershy Mob Rule
  p
    a(href='http://www.youtube.com/watch?v=5G4Art-ZSpA') Rune Glifberg
  p
    a(href='http://www.youtube.com/watch?v=dRm-IPkkEOw') Rune Glifberg X-Games
  p
    a(href='http://www.youtube.com/watch?v=k4RPk6mChh8') Alex Perelson 900
  p
    a(href='http://www.youtube.com/watch?v=3S0rwDF6rt4') Vans Bowl-A-Rama
  p
  p Music Vids:
  P
    a(href='http://www.youtube.com/watch?v=41PxFzoqULU') Celtic Frost Circle of the Tyrants

    
