extends layout

block content
  h1 Roland Mechler yo!

  | <iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F62441104&show_artwork=false"></iframe>

  h3 Skate Vids:
  p
    a(href='http://www.youtube.com/watch?v=ySp_RQg2Fm0') Raven Tershy Double Rock
  p
    a(href='http://www.youtube.com/watch?v=5j54Y_1tpgo') Raven Tershy Mob Rule
  p
    a(href='http://www.youtube.com/watch?v=5G4Art-ZSpA') Rune Glifberg
  p
    a(href='http://www.youtube.com/watch?v=dRm-IPkkEOw') Rune Glifberg X-Games
  p
    a(href='http://www.youtube.com/watch?v=k4RPk6mChh8') Alex Perelson 900
  p
    a(href='http://www.youtube.com/watch?v=3S0rwDF6rt4') Vans Bowl-A-Rama
  p
    a(href='http://www.strangenotes.com/video/1827765550001/') Hosoi Venice Skatepark
  p
  h3 Music Vids:
  p
    a(href='http://www.youtube.com/watch?v=41PxFzoqULU') Celtic Frost Circle of the Tyrants

  h3 Movies:
  p
    a(href='/movies') Movies

  
