doctype 5
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		title#main= title
		form#logout(name="logout", action="/logout", method="post")
			input(type="submit", value="logout")

	style
		body {
			background-image: url('#{baseUrl}/images/porridgeman.jpeg');
		}

	body
		block content