body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/porridgeman.jpeg');
  background-size: 100% 100%;
  height: 1110px;
}

title#main {
	float: left;
}

form#logout {
	float: right;
}

h1 {
	font-family: courier;
	color: white;
	padding-bottom: 30px;
}

a {
  color: #00B7FF;
}

a.link {
	text-decoration: none;
	color: black;
}

p.link {
	height: 12px;
}

.container {
	width: 850px;
}

.left-list, .right-list {
	background: #D3D3D3;
	opacity: 0.85;
	padding: 20px;
	border-radius: 20px;
	width: 350px;
	margin-bottom: 50px;
}

.left-list {
	float: left;
}

.right-list {
	float: right;
}

button#edit {
	float: right;
}

button#remove {
	float: right;
	color: red;
	border-color: red;
	border-radius: 0px;
	border-width: 1px;
	font-weight: bold;
}

button#up, button#down {
	float: right;
	border-radius: 0px;
	border-width: 1px;
	font-weight: bold;
}
